<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Konfiguracijska datoteka</description>
        <param-name>config</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <filter>
        <filter-name>AFilter</filter-name>
        <filter-class>org.foi.nwtis.matbulic.filteri.AplikacijskiFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.foi.nwtis.matbulic.web.slusaci.SlusacAplikacije</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Kontroler</servlet-name>
        <servlet-class>org.foi.nwtis.matbulic.kontrole.Kontroler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeoMeteoWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kontroler</servlet-name>
        <url-pattern>/Kontroler</url-pattern>
        <url-pattern>/OdjavaKorisnika</url-pattern>
        <url-pattern>/IspisMeteoPodataka</url-pattern>
        <url-pattern>/IspisZahtjevaUpravljackogServera</url-pattern>
        <url-pattern>/IspisAdresa</url-pattern>
        <url-pattern>/UnosAdrese</url-pattern>
        <url-pattern>/Dokumentacija</url-pattern>
        <url-pattern>/IspisKorisnickihZahtjeva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeoMeteoWS</servlet-name>
        <url-pattern>/GeoMeteoWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/jsp/prijavaKorisnika.jsp</form-login-page>
            <form-error-page>/error/NeuspjesnaPrijava.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <exception-type>org.foi.nwtis.matbulic.web.NeuspjesnaPrijava.java</exception-type>
        <location>/error/NeuspjesnaPrijava.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>OgranicenPristup</display-name>
        <web-resource-collection>
            <web-resource-name>Zasticeno</web-resource-name>
            <description/>
            <url-pattern>/IspisZahtjevaUpravljackogServera</url-pattern>
            <url-pattern>/IspisKorisnickihZahtjeva</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>KorisnickiPristup</display-name>
        <web-resource-collection>
            <web-resource-name>Zastita</web-resource-name>
            <description/>
            <url-pattern>/IspisAdresa</url-pattern>
            <url-pattern>/UnosAdrese</url-pattern>
            <url-pattern>/IspisMeteoPodataka</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>korisnik</role-name>
    </security-role>
</web-app>
